<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header d-inline-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><strong>Name: <%= friend.id %></strong><%= friend.full_name %></td>
            <td><strong>Email: </strong><%= friend.email %></td>
            <td>
              <strong>Actions: </strong><%= link_to 'View profile', '#', class: 'btn btn-sm btn-success' %>

              <% if current_user.are_friends?(friend.id) %>
                <span class="badge badge-warning">You are friends</span>
              <% else %>
                <%= link_to 'Follow friend', '#', class: 'btn btn-sm btn-success' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
