<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header d-inline-block mt-1">
      <strong>Name: </strong><%= friend.full_name %>
      <strong>Email: </strong><%= friend.email %>
      <strong>View Profile: </strong><%= link_to 'View profile', '#', class: 'btn btn-sm btn-success' %>

      <%= link_to 'Follow friend', '#', class: 'btn btn-sm btn-success' %>
    </div>
  <% end %>
<% end %>
